body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

a, p {
    color: #000000;
}

hr {
    color: #ccc;
    border: none;
    border-top: 1px #ccc solid;
}

code.hl {
    background-color: #eee;
    padding: 3px 6px;
    border-radius: 5px;
}

section, #menu {
    width: 50%;
    margin: auto;
}

#menu h1 {
    display: inline-block;
    font-size: 0.9rem;
    margin: 0;
}

#menu ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    margin-left: 1rem;
}

#menu li:before {
    content: "•";
    margin-right: 0.3rem;
}

#menu a {
    text-decoration: none;
}
#menu a.active {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

/*
 * Start page
 */

#app {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#app h1 {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 4rem;
    font-weight: 500;
}
#app h2 {
    font-size: 1.4rem;
    margin-top: 0;
    font-weight: 400;
}
#app h3 {
    font-size: 1.1rem;
    margin: 2rem 0;
    font-weight: 400;
}

#celebration {
    width: 100%;
    margin-top: 4rem;
}

.footnote {
    font-size: 0.7rem;
    font-weight: 300;
}

/*
 * Details page
 */

.details {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

fieldset {
    margin-bottom: 3rem;
}

input {
    padding: 0.5rem 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

tbody td {
    padding: 5px;
}

tbody tr:nth-child(2n) {
    background-color: #f4f4f4;
}

tr td:last-child, tr th:last-child {
    text-align: right;
}

/*
 * Docs page
 */

#docs {
    margin-bottom: 8rem;
}

#docs h1, #relation h1 {
    font-size: 1.8rem;
}

#docs h3 {
    font-size: 1rem;
    font-weight: 400;
}

/*
 * Relations page
 */

#relation hr {
    margin-top: 2rem;
}

.relation-id {
    font-size: 1rem;
}

/*
 * Other
 */


@media screen and (max-width: 980px) {
    section, #menu, #app {
        width: 95%;
    }
}

[x-cloak] { display: none !important; }
