{% extends "layout.html" %}

{% block content %}

<section class="details">
    <h1>About</h1>
    <p>
        In 1793, after the French Revolution, the French Republic adopted a new calendar and decimal time as part of its
        efforts to de-Christianize and rationalize the country’s timekeeping.
    </p>
    <p>
        The <strong>French Republican Calendar</strong> starts on what corresponds to 22 September 1792,
        commemorating the proclamation of the republic the day before.
        It has years divided into 12 months of 30 days each, grouped into three 10-day weeks, called "décades".
    </p>
    <p>
        Each month is named after natural elements and agricultural activities, such as Vendémiaire (grape harvest)
        and Frimaire (frost). The days of the week are simply named numerically as Primidi, Duodi,
        Tridi, etc. Additionally, each day of the year observes an everyday object—like a plant,
        animal or tool—common in the rural economy of France in the 18th century.
    </p>
    <p>
        As the 12 months only make up 360 days, five or six complementary days
        are added at the end of the year to celebrate various revolutionary virtues.
    </p>
    <p>
        Alongside the calendar, France introduced <strong>decimal time</strong>,
        which restructures the day into 10 hours,
        each hour into 100 minutes and each minute into 100 seconds.
    </p>
    <p>
        While these changes reflected the revolutionary ideals of reason and equality,
        they were complex to implement and never gained widespread popularity.
        Decimal time was abandoned as early as 1795 and the calendar was finally abolished by Napoleon,
        whose coronation as Emperor had ended the First Republic.
        10 Nivôse XIV was followed by 1 January 1806.
    </p>
    <p>
        Read more on Wikipedia:
        <a href="https://en.wikipedia.org/wiki/French_Republican_calendar">French Republican calendar</a>
        and <a href="https://en.wikipedia.org/wiki/Decimal_time">decimal time</a>.
    </p>
</section>

{% endblock %}