{% extends "layout.html" %}

{% block head %}
{{ super() }}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        repcal.initDetails();
    });
</script>

{% endblock %}
{% block content %}

<section>
    <fieldset x-data="dateDetails">
        <legend>Republican Calendar</legend>
        <details>
            <summary>About</summary>
            <p>The calendar was used from 1793 to 1805...</p>

            <p>
                Each day observes an everyday object&mdash;like a plant, animal or tool&mdash;common in the rural economy of France
                in the 18th century.
            </p>
            <p>
                Read more on <a href="https://en.wikipedia.org/wiki/French_Republican_calendar">Wikipedia</a>.
            </p>
        </details>
        <table>
            <thead>
            <tr>
                <td><input type="date" id="rep_date" x-model="input"></td>
                <td><input type="button" value="Convert" @click="convert"></td>
            </tr>
            </thead>
            <tbody x-cloak x-show="data">
            <tr>
                <td>Text</td>
                <td x-text="data.date"></td>
            </tr>
            </tbody>
        </table>
    </fieldset>


    <fieldset x-data="timeDetails">
        <legend>Decimal Time</legend>
        <details>
            <summary>About</summary>
            <p>decimal time was used for about a year (six months) between 1794 and 1795</p>
        </details>
        <table>
            <tbody>
            <tr>
                <td><input type="time" step="1" id="rep_time" x-model="input"></td>
                <td><input type="button" value="Convert" @click="convert"></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</section>

{% endblock %}