{% extends "layout.html" %}

{% block head %}
{{ super() }}

<script defer>
    document.addEventListener("DOMContentLoaded", () => {
        repcal.initNow();
    });
</script>

{% endblock %}
{% block content %}


<div id="app" x-data="now">
    <section>
        <hgroup>
            <h1 :title="dateShort" x-text="date"></h1>
            <p>
                <span x-text="hour"></span>:<span x-text="minute"></span>:<span x-text="second"></span>
            </p>
        </hgroup>
    </section>

    <section id="celebration">
        <p x-html="observance"></p>
        <hr>
        <div class="footnote">
            <p>
                <small>This page shows the current date and time using the systems implemented by the French First Republic.</small>
            </p>
        </div>
    </section>
</div>

{% endblock %}