{% extends "layout.html" %}

{% block head %}
{{ super() }}

<script defer>
    document.addEventListener("DOMContentLoaded", () => {
        repcal.initNow();
    });
</script>

{% endblock %}
{% block content %}


<div id="app" x-data="now">
    <h1 :title="dateShort" x-text="date"></h1>
    <h2>
        <span x-text="hour"></span>:<span x-text="minute"></span>:<span x-text="second"></span>
    </h2>

    <section id="celebration">
        <h3 x-html="observance"></h3>
        <hr>
        <div id="info">
            <p>
                This page shows the current date and time using the systems implemented by the French First Republic.
            </p>
            <p>
                Go to <a href="/details">Details</a> for more information.
            </p>
        </div>
    </section>
</div>

{% endblock %}