<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The current date and time using the systems implemented by the French First Republic.">
  <meta property="og:image" content="/static/repcal.jpg">
  <meta property="og:image:width" content="1260">
  <meta property="og:image:height" content="630">
  <title>French Republican Calendar</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>