{% macro nav_link(menu_item) %}

    {% if menu_item == "convert" %}
        {% set path = "/convert" %}
        {% set text = "Convert" %}
    {% elif menu_item == "about" %}
        {% set path = "/about" %}
        {% set text = "About" %}
    {% elif menu_item == "api" %}
        {% set path = "/docs" %}
        {% set text = "API" %}
    {% else %}
        {% set path = "/" %}
        {% set text = "Now" %}
    {% endif %}

    {% set class = "active" if path == request.path else "" %}
    <li><a href="{{ path }}" class="{{ class }}">{{ text }}</a></li>
{% endmacro %}