{% extends "layout.html" %}

{% block content %}

<div class="grid">
    <div>
        <hgroup>
            <h1>Link Relation</h1>
            <p>
                {{ request.path }}
            </p>
        </hgroup>
    </div>
    <div>
        <aside>
                <details class="dropdown">
                    <summary role="button" class="outline secondary">
                        Select link relation
                    </summary>
                    <ul>
                        <li><a href="/meta/relation/now">/meta/relation/now</a></li>
                        <li><a href="/meta/relation/date">/meta/relation/date</a></li>
                        <li><a href="/meta/relation/time">/meta/relation/time</a></li>
                        <li><a href="/meta/relation/observance">/meta/relation/observance</a></li>
                        <li><a href="/meta/relation/transform">/meta/relation/transform</a></li>
                        <li><a href="/meta/relation/wiki">/meta/relation/wiki</a></li>
                    </ul>
                </details>
        </aside>
    </div>
</div>

<p>
    {{info.text.replace('\n', '<br>')|safe}}
</p>
<hr>
<div class="grid">
    <div>
        <article>
            <header>Used by</header>
            <p>
                This link relation is used by the following API resources:
            </p>
            <ul>
                {% for context in info.used_by %}
                <li>
                    <a href="{{ url_for('meta.schema_' + context.lower()) }}">
                        {{ context }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </article>
    </div>
    <div>
        <article>
            <header>Target</header>
            <p>
                Links of this type will resolve to a

                {% if info.has_schema %}
                <a href="/meta/schema/{{ info.resource }}">{{ info.resource.capitalize() }}</a> API resource
                {% else %}
                {{ info.resource }}
                {% endif %}

                with the media type <small><code>{{ info.media_type }}</code></small>.
            </p>
        </article>
    </div>
</div>

{% endblock %}
